# Ignore build folder and vscode settings (please keep them only in your local repo)
build/
build/CMakeFiles
examples/build/
.vscode/

# Ignore specific files
src/.CMakelists.txt.swp
examples/output.txt
examples/others/output.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
